body {
  background-color: #2e5266;
  font-family: Bellota, cursive;
}

.med-light {
  color: #89aabf;
}

.light {
  color: #c2cfd6;
}

.very-light {
  color: #f4f0e8;
}

.pop {
  color: #ffe898;
}

.script {
  font-family: "Petit Formal Script", cursive;
}
