body  {
  background-color: #2e5266;
  font-family: 'Bellota', cursive;
}

.med-light {
  color: #6e8898;
}

.light {
  color: #9fb1bc;
}

.very-light {
  color: #eee9e1;
}

.pop  {
  color:#ffe68e;
}

.script {
  font-family: 'Petit Formal Script', cursive;
}
